<div class="main-container">
    <div class="clr-row wrapper">
        <div class="clr-col-4">
            <div class="card">
                <div class="card-block">
                    <div class="card-title">
                        LOGIN
                    </div>
                    <div class="card-text">
                        <div class="clr-row">
                            <div class="clr-col-12">
                                <input class="clr-col-7 clr-input width-fit" [disabled]="ref.length"
                                    placeholder="เบอร์โทรศัพท์" [(ngModel)]="telephone" maxlength="10" />
                                <span *ngIf="ref">Ref: {{ref}}</span>
                                <button style="float: right;" class="clr-col-4 width-fit" (click)="requestOTP()"
                                    [disabled]="isLoad" [disabled]="telephone.length < 10 || isVerify"
                                    class="btn btn-primary btn-sm">ขอ OTP</button>
                            </div>
                        </div>
                        <br>
                        <div class="clr-row">
                            <div class="clr-col-12">
                                <input class="clr-col-7 clr-input width-fit" placeholder="OTP 6 หลัก" maxlength="6"
                                    [(ngModel)]="otp" [disabled]="isVerify" />
                                <button style="float: right;" class="clr-col-4 width-fit" (click)="verify()"
                                    [disabled]="isLoad || !ref || isVerify" class="btn btn-primary btn-sm">ยืนยัน
                                    OTP</button>
                            </div>
                        </div>
                        <br>
                        <div class="clr-row">
                            <div class="clr-col-12">
                                <input class="clr-col-12 clr-input width-fit" placeholder="Event Code"
                                    [(ngModel)]="eventCode" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button (click)="doLogin()" [disabled]="isLoad || eventCode.length < 1 || !isVerify"
                        class="btn btn-success">Login</button>
                    <button (click)="getEvent()" [disabled]="isLoad || !isVerify"
                        class="btn btn-success-outline">Event</button>
                </div>
            </div>
        </div>
    </div>
</div>

<clr-modal [(clrModalOpen)]="modalEvent" [clrModalClosable]="false" [clrModalSize]="'xl'">
    <h3 class="modal-title">Event</h3>
    <div class="modal-body">
        <div class="clr-row">
            <div class="clr-col-7">
                <clr-datagrid>
                    <clr-dg-column>Event Code</clr-dg-column>
                    <clr-dg-column>รหัสหน่วยงาน</clr-dg-column>
                    <clr-dg-column>รายละเอียด</clr-dg-column>
                    <clr-dg-column>สถานที่</clr-dg-column>
                    <!-- <clr-dg-column>วันที่เริ่ม-สุดสิ้น</clr-dg-column> -->
                    <clr-dg-column>ปิด/เปิดการใช้งาน</clr-dg-column>

                    <clr-dg-row *ngFor="let i of eventList">
                        <clr-dg-cell>{{i.code}}</clr-dg-cell>
                        <clr-dg-cell>{{i.hospcode}}</clr-dg-cell>
                        <clr-dg-cell>{{i.place_detail}}</clr-dg-cell>
                        <clr-dg-cell>{{i.color}}</clr-dg-cell>
                        <!-- <clr-dg-cell>{{i.start_date}} - {{i.end_date}}</clr-dg-cell> -->
                        <clr-dg-cell><input type="checkbox" (click)="toggleActived(i)" clrToggle [(ngModel)]="i.is_actived" /></clr-dg-cell>
                    </clr-dg-row>
                </clr-datagrid>
            </div>
            <div class="clr-col-5">
                <div class="clr-row">
                    <div class="card" style="padding: 0;margin: 0;">
                        <div class="card-block">
                            <div class="card-text">
                                <div class="clr-row">
                                    <div class="clr-col-12">
                                        <div class="clr-form clr-form-compact clr-row">
                                            <label class="clr-control-label clr-col-3">ชื่อสถานที่ : </label>
                                            <input type="text" [(ngModel)]="placeDetail"
                                                class="clr-col-9 clr-input width-fit" placeholder="ชื่อสถานที่">
                                        </div>
                                    </div>
                                    <div class="clr-col-12">
                                        <div class="clr-form clr-form-compact clr-row">
                                            <label class="clr-control-label clr-col-3">จังหวัด : </label>

                                            <div class="clr-select-wrapper clr-col-9">
                                                <select (change)="getDistrict($event)" class="clr-select"
                                                    style="width: 100%;" [(ngModel)]="newProvince">
                                                    <option *ngFor="let i of province" [value]="i.code">{{i.name_th}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clr-col-12">
                                        <div class="clr-form clr-form-compact clr-row">
                                            <label class="clr-control-label clr-col-3">อำเภอ : </label>

                                            <div class="clr-select-wrapper clr-col-9">
                                                <select (change)="getSubdistrict($event)" class="clr-select"
                                                    style="width: 100%;" [(ngModel)]="newAmpur">
                                                    <option *ngFor="let i of ampur" [value]="i.code">{{i.name_th}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clr-col-12">
                                        <div class="clr-form clr-form-compact clr-row">
                                            <label class="clr-control-label clr-col-3">ตำบล : </label>

                                            <div class="clr-select-wrapper clr-col-9">
                                                <select (change)="selectSubdistrict($event)" class="clr-select"
                                                    style="width: 100%;" [(ngModel)]="newTambon">
                                                    <option *ngFor="let i of tambon" [value]="i.code">{{i.name_th}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clr-col-12">
                                        <div class="clr-form clr-form-compact clr-row">
                                            <label class="clr-control-label clr-col-3">วันที่เริ่ม : (เดือน/วัน/ปี)</label>
                                            <clr-date-container class="clr-input width-fit">
                                                <input type="date" clrDate [(ngModel)]="startDate">
                                            </clr-date-container>
                                        </div>
                                    </div>
                                    <div class="clr-col-12">
                                        <div class="clr-form clr-form-compact clr-row">
                                            <label class="clr-control-label clr-col-3">วันที่สิ้นสุด : (เดือน/วัน/ปี)</label>
                                            <clr-date-container class="clr-input width-fit">
                                                <input type="date" clrDate [(ngModel)]="endDate">
                                            </clr-date-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button (click)="saveEvent()" [disabled]="!newProvince || !newAmpur || !newTambon || !placeDetail" class="btn btn-outline">เพิ่ม</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="modalEvent = false">ปิด</button>
    </div>
</clr-modal>